<section class="container experiences">
    <img class="title-exp" src="../../assets/images/exp.png" alt="">

    <div class="exp-cards">
        <div class="top-exp">
            <h3>Community manager </h3>
            <img class="deco-exp" src="../../assets/images/deco-exp.png" alt="">
        </div>
        <div class="bottom-exp">
            <h5>Marzo-Diciembre 2021</h5>
            <p>Manejo de pagina web en la plataforma Wix, control de roles, usuarios, estetica.
                Ademas de un servicio de edicion de videos, audio, y más actividades relacionadas al desarollo tecnologico.
            </p>
        </div>
    </div>

    <div class="exp-cards">
        <div class="top-exp">
            <h3>Administracion de bines tecnologicos </h3>
            <img class="deco-exp" src="../../assets/images/deco-exp.png" alt="">
        </div>
        <div class="bottom-exp">
            <h5> Septiembre-Diciembre 2022 </h5>
            <p>Pracricas escolares. Encargada de registrar ingresos y egresos de diferentes materiales tecnologicos utilizados dentro de la institucion.
            </p>
        </div>
    </div>

</section>