<header>
    <div class="header-left">
        <img class="logo-arg-programa" src="../../assets/images/ArgProgLOGO.png" alt="Logo arg programa">
        <h3>|</h3>
        <h3 id="title-YoProgramo">#YoProgramo </h3>
    </div>
    <div class="header-right">
        <a href="http://"><img class="logo-red"  src="../../assets/images/github.png" alt="icono github"></a>
        <a href="http://"><img class="logo-red"  src="../../assets/images/linkedin.png" alt="icono linkedin"></a>
        <a href="http://"><img class="logo-red"  src="../../assets/images/instagram.png" alt="icono instagram"></a>
        <a href="http://"><img class="logo-red"  src="../../assets/images/facebook.png" alt="icono facebook"></a>
        <h3>|</h3>
        <a class="primary-button" href="./login.html">INGRESAR</a>
    </div>
</header>