<section class="info">
    <div class="container">
        <div class="image-info-container">
           <img class="profile-image" src="../../assets/images/profileImage.png" alt="imagen de perfil">
           <p> 17 / 07 / 2003</p>
           <p> Necochea </p>
        </div>
        <h3>Maria del Rosario Coronado</h3>
        <h6>Full Stack Dev Jr.</h6>
    </div>
    <div class="highlight-info">
        <h4>Olimpiadas Nacionales programacion 2022</h4>
        <p>Comprometida, responsable, muy curiosa y creativa. </p>
        <p>Me moviliza el aprender aquello que desconozco. </p>
        <p>Aspiro como profesional ayudar a muchas personas con la tecnologia y la programacion.</p>
       
    </div>
    
</section>