<section class="projects-container">
    <img class="title-pro" src="../../assets/images/projects.png" alt="">
    <div class="folder-container">
        <div class="folder project-one">
            <h3>MIDNIGHT RIDE - Juego RPG </h3>
            <div class="content">
                <p>Como proyecto escolar conformamos un equipo con el objetivo de crear un juego indie rpg de terror con Unity.
                Esto nos acerco a a experiencia de trabajar en equipo, afrontar problemas, informes, fechas limites y demas.
                </p>
            </div>
            
        </div>
        <div class="folder project-two">
            <h3>SOED - Sistema de Organizacion de Eventos Deportivos</h3>
            <div class="content">
                <p> Un sistema de organizacion de eventos deportivos. Se aplicaron tecnologias como PHP, JS, Smarty, Tailwind y demas. 
                    Fui encargada de la organizacion, maquetacion, disreño de interfaz y programacion de la misma con Tailwind CSS.
                </p>
                
            </div>
        </div>
        <div class="folder project-three">
            <h3>OUTFIT MAKER - Ropero Virtual</h3>
            <div class="content">
                <p> Un sistema de organizacion de eventos deportivos. Se aplicaron tecnologias como PHP, JS, Smarty, Tailwind y demas. 
                    Fui encargada de la organizacion, maquetacion, disreño de interfaz y programacion de la misma con Tailwind CSS.
                </p>
            </div>
        </div>
        <div class="folder project-four">
            <h3>CODIGO AZUL -  Olimpiadas de Programacion</h3>
            <div class="content">
                <p> Un sistema de organizacion de eventos deportivos. Se aplicaron tecnologias como PHP, JS, Smarty, Tailwind y demas. 
                    Fui encargada de la organizacion, maquetacion, disreño de interfaz y programacion de la misma con Tailwind CSS.
                </p>
            </div>
        </div>
    </div>
</section>