<section class="projects">
    <div class="container">
        <h3>Proyectos</h3>
        <div class="container"> 
            <h5>Artista de videojuego</h5>
            <p>Como proyecto escolar conformamos un equipo con el objetivo de crear un juego indie rpg de terror con Unity.
            Esto nos acerco a a experiencia de trabajar en equipo, afrontar problemas, informes, fechas limites y demas.
            </p>
        </div>      
        <div class="container"> 
            <h5>Co-Creadora de SOED</h5>
            <p> Un sistema de organizacion de eventos deportivos. Se aplicaron tecnologias como PHP, JS, Smarty, Tailwind y demas. 
                Fui encargada de la organizacion, maquetacion, disreño de interfaz y programacion de la misma con Tailwind CSS.
            </p>
        </div>
    </div>
    
</section>